{% extends 'base.html' %}

{% block content %}

  <h1>Post a Job</h1>

  <form action="{{ url_for('job_postings') }}" method="POST">
  
    <div class="form-group">
      <label for="job_title">Job Title</label>
      <input type="text" class="form-control" name="job_title" id="job_title" required>
    </div>

    <div class="form-group">
      <label for="qualifications">Qualifications</label>
      <select class="form-control" name="qualifications" id="qualifications" required>
        <option value="">--Select Qualifications--</option>
        <option value="High School">High School</option>
        <option value="Associate's Degree">Associate's Degree</option>
        <option value="Bachelor's Degree">Bachelor's Degree</option>
        <option value="Master's Degree">Master's Degree</option>
        <option value="Doctorate">Doctorate</option>
      </select>
    </div>

    <div class="form-group">
      <label for="salary_range">Salary Range(per months)</label>
      <input type="number" class="form-control" name="salary_range" id="salary_range" required>
    </div>

    <div class="form-group">
      <label for="location">Location</label>
      <select class="form-control" name="location" id="location" required>
        <option value="">--Select Location--</option>
        <optgroup label="Hong Kong Island">
          <option value="Central and Western District">Central and Western District</option>
          <option value="Eastern District">Eastern District</option>
          <option value="Southern District">Southern District</option>
          <option value="Wan Chai District">Wan Chai District</option>
        </optgroup>
        <optgroup label="Kowloon">
          <option value="Kowloon City District">Kowloon City District</option>
          <option value="Kwun Tong District">Kwun Tong District</option>
          <option value="Sham Shui Po District">Sham Shui Po District</option>
          <option value="Wong Tai Sin District">Wong Tai Sin District</option>
          <option value="Yau Tsim Mong District">Yau Tsim Mong District</option>
        </optgroup>
        <optgroup label="New Territories">
          <option value="Islands District">Islands District</option>
          <option value="Kwai Tsing District">Kwai Tsing District</option>
          <option value="North District">North District</option>
          <option value="Sai Kung District">Sai Kung District</option>
          <option value="Sha Tin District">Sha Tin District</option>
          <option value="Tai Po District">Tai Po District</option>
          <option value="Tsuen Wan District">Tsuen Wan District</option>
          <option value="Tuen Mun District">Tuen Mun District</option>
          <option value="Yuen Long District">Yuen Long District</option>
        </optgroup>
      </select>
    </div>

    <button type="submit" class="btn btn-primary">Post Job</button>

  </form>

{% endblock %}



