{% extends 'base.html' %}
{% block content %}
 <h1>Questions and Answers</h1>
  <ul>
    <li>
      <h3>What is the purpose of this website?</h3>
      <p>This website is designed to help connect job seekers with employers and job postings in their local area. Employers can post job openings and job seekers can search and apply for those jobs.</p>
    </li>
    <li>
      <h3>How do I create a user profile?</h3>
      <p>To create a user profile, click on the "Profile" link in the navigation menu and then fill out the form with your personal information and educational background. Make sure to click the "Save" button to save your profile.</p>
    </li>

  </ul>
{% endblock %}

